# Name: Volumina-medical RhodamineMetry library
# Description: utilities for evaluating partition coefficients
#
# Author: Thomas Braschler

Plugins>Microniche PoreSizeExcel, "Batch Process with Excel File", MacroOnExcelFileList
Plugins>Microniche PoreSizeExcel, "-"
Plugins>Microniche PoreSizeExcel, "xlib Pore Size Distribution", WrapperPSD_Empa_Beat
Plugins>Microniche PoreSizeExcel, "PoreSizeExcel_.jar Version", versionVoluminaDisplay
Plugins>Microniche PoreSizeExcel, "Dependencies", PoreSizeExcel_Display_Depencies
Plugins>Microniche PoreSizeExcel, "Credits", PoreSizeExcel_Credits
